<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Management System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">
</head>
<body>
    <header>
        <h1>University Management System</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'student_list' %}">Students</a></li> 
                <!-- Добавьте другие ссылки по мере необходимости -->
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static 'main_app/js/script.js' %}"></script>
</body>
</html>
